@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,600,700&display=swap");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #2b2929;
	font-style: normal;
	text-align: left;
	font-style: normal;
	line-height: 187.5%; /* 30/16 */
}
h1 {
	max-width: 1070px;
	width: 95%;
	margin: 0 auto;
	font-size: 40px;
	line-height: 120%; /* 48/40 */
	font-weight: 400;
	text-align: center;
	width: 95%;
	margin: 0 auto;
	margin-top: 96px;
	margin-bottom: 40px;
	border: 10px solid #8605ad;
}
h1:hover {
	border-color: aqua;
}
.image {
	border-radius: 0px;
	max-width: 1070px;
	margin: 0 auto;
	font-size: 0;
	width: 95%;
	border-top: 25px solid yellowgreen;
	border-right: 18px dashed red;
	border-bottom: 7px dotted black;
	border-left: 5px double palevioletred;
}
.image:hover {
	border-right: 18px dashed transparent;
	border-left: 5px double transparent;
}

.text p {
	text-transform: none;
	min-height: auto;
	margin-bottom: 10px;
}
.text {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
}

h2 {
	line-height: 140%; /* 28/20 */
	font-size: 20px;
	font-weight: 600;
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	margin-bottom: 10px;
	border: 2px solid blue;
}
h2:hover {
	border: 2px solid transparent;
}
.div {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
}
.div-1,
.div-2,
.div-3,
.div-4,
.div-5 {
	background: url("../img/Vector.jpg") 0 0/32px no-repeat;
	padding-left: 40px;
	margin-bottom: 20px;
	min-height: 32px;
}
a {
	color: aqua;
	border-bottom: 5px dotted;
	display: inline-block;
}
.footer {
	padding-bottom: 40px;
}
span {
	padding-left: 50px;
	outline: 10px solid red;
}
.div-6 {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	margin-bottom: 50px;
}
.paragraph {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	/* margin: 0 -5px; не пам*ятаю ,що хотіла від цього мерджина,напеано фант відступи*/
	background-color: #5d079eca;
	padding: 40px;
	text-align: center;
	border-radius: 99% 0% 100% 1%;
	margin-bottom: 100px;
	box-shadow: inset 0 30px 40px rgba(0, 0, 100, 0.5);
}
.about {
	display: inline-block;
	max-width: 200px;
	width: 100%;
	background-color: #9d81a6;
	outline: 10px solid royalblue;
	margin-right: 50px;
}
.about-2 {
	max-width: 200px;
	width: 100%;
	background-color: aliceblue;
	margin-right: 50px;
	border-radius: 10px;
	display: inline-block;
	box-shadow: 0 0 25px 5px #f4022e;
	padding: 20px;
}
.about-3 {
	display: inline-block;
	max-width: 200px;
	width: 100%;
	background-color: aqua;
	margin-right: 50px;
	border: 5px dashed red;
}
.about-3:hover {
	border: 5px dashed transparent;
}
.about-4 {
	display: inline-block;
	max-width: 200px;
	width: 100%;
	background-color: chartreuse;
	padding: 25px;
	outline: 5px solid blue;
	outline-offset: 5px;
}
.all {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	background-color: rgb(241, 41, 15);
	padding-left: 20px;
	padding-top: 40px;
	margin-bottom: 50px;
}
.round {
	width: 200px;
	height: 200px;
	background-color: #9d81a6;
	border-radius: 50%;
	font-size: 20px;
	text-align: center;
	padding-top: 80px;
	overflow: hidden;
	display: inline-block;
	margin-right: 20px;
	box-shadow:
		inset 0 0 5px 10px #2b29297e,
		5px 5px 5px 10px rgb(238, 255, 0);
}
.hidden {
	width: 100%;
	max-width: 500px;
	background-color: aqua;
	font-size: 20px;
	border-radius: 200px 40px 100px 20px;
	overflow: hidden;
	border: 5px solid rgb(28, 102, 13);
	display: inline-block;
}
.room {
	border-radius: 100% 0% 66% 34%;
	max-width: 300px;
	width: 100%;
	display: inline-block;
	margin-top: 150px;
	border: 7px solid;
}
.span-border {
	outline: none;
	background-color: #00008b46;
	border-radius: 8px;
	padding-left: 0;
}
.button {
	color: green;
	border-bottom: none;
	background-color: #f4022e;
	padding: 20px;
	border-radius: 30px;
	text-transform: uppercase;
	box-shadow: 4px 10px 5px rgb(0, 0, 50);
	margin-top: 40px;
	margin-bottom: 40px;
	opacity: 0.6;
}
.opacity {
	background-color: #f4022e;
	opacity: 0;
	margin-bottom: 40px;
}
.background {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	padding: 20px;
	background-image: url("../img/img_1.png");
	margin-bottom: 40px;
	color: azure;
	background-position: center;
	background-size: cover;
}
.gradient {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	background-color: aquamarine;
	background-image: url("../img/Vector.jpg");
	background-repeat: repeat-x;
	margin-bottom: 40px;
}
.repeat {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	background-image: url("../img/repeat.jpg");
	color: azure;
	margin-bottom: 40px;
	background-attachment: fixed;
}
.repeat-inline {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	background-image: url("../img/img-4.png");
	background-repeat: no-repeat;
	background-position: 40px 10px;
	margin-bottom: 40px;
}
.back-size {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	/* під низом колір для експерименту */
	background-color: coral;
	background-image: url("../img/img_1.png");
	background-size: auto 100px;
	margin-bottom: 40px;
}
.block {
	width: 95%;
	margin: 0 auto;
	max-width: 1070px;
	background:
		url("../img/img_1.png") center/200px no-repeat,
		cyan url("../img/Vector.jpg") center/250px no-repeat scroll;
	margin-bottom: 50px;
}
.explore {
	font-size: 0;
	width: 95%;
	max-width: 1440px;
	margin: 0 auto;
	font-size: 0;
	margin-bottom: 50px;
	background:
		url("../img/Kid-On-Books.png") right/547px no-repeat,
		url("../img/bg-gradient.jpg") 0 0 / cover no-repeat rgb(145, 76, 255);
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 121px;
	padding-bottom: 121px;
	vertical-align: middle;
}
.explore-course {
	max-width: 600px;
	width: 100%;
	text-align: left;
	color: #fff;
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 160%; /* 32/20 */
	margin-bottom: 24px;
	margin-right: 133px;
}
h3 {
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 24px;
	font-weight: 700;
}

.link {
	color: #0d1216;
	border: none;
	padding: 12px 20px;
	align-items: center;
	border-radius: 8px 8px 8px 8px;
	background-color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
}
.buttom-main {
	max-width: 1920px;
	margin: 0 auto;
	font-size: 0;
	background-color: rgba(30, 40, 50, 0.05);
}
.collections {
	max-width: 1226px;
	font-size: 0;
	margin: 0 auto;
	padding-top: 225px;
	padding-bottom: 60px;
}
.class {
	display: inline-block;
	max-width: 686px;
	text-align: left;
	margin-right: 98px;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: normal;
	margin-top: 74px;
}
h4 {
	font-weight: 300;
	line-height: 74.324324%; /* 55/74 */
	font-size: 74px;
	margin-bottom: 52px;
}
.box {
	font-size: 30px;
	font-weight: 400;
	line-height: 183.333333%; /* 55/30 */
	margin-bottom: 66px;
}

.conteiner {
	border: none;
	display: inline-block;
	padding: 19px 26px 19px 64px;
	color: #fff;
	background: #1e2832 url("../img/icon.svg") 26px center/24px no-repeat;
	font-size: 29px;
}
.main {
	border-radius: 160px 0;
	display: inline-block;
	max-width: 424px;
	width: 100%;
	height: 562px;
	vertical-align: top;
	border: 1px solid #131212;
}
.visual {
	max-width: 424px;
	width: 100%;
	height: 562px;
}
